.LastNews {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 2.2rem 5.4rem;
  color: #fff;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.LastNewsTitle {
  max-width: 53.4rem;
  font-size: 3.4rem;
  line-height: 4.8rem;
}

.LastNewsFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.LastNewsFooterSide {
  display: flex;
}

.LastNewsFooterSideItem {
  display: flex;
  align-items: center;
  margin-right: 2.4rem;
}

.LastNewsFooterSideItem-Text {
  margin-left: 1.2rem;
}

.LastNewsFooterCategory {
  text-decoration: underline;
  text-transform: uppercase;
}

.LastNewsFooter-Signal {
  transform: rotate(90deg);
}