$rem-baseline: 62.5%;

$page-background-color: #fff;


$color-black: #000000;


$font-size-default: 1.4rem;
$font-lineheight-default: 1.4rem;

$font-letterspacing-default: 0;


$font-weight-default: 500;

